<%= error_messages_for 'option_category' %>

<!--[form:option_category]-->
<p><label for="option_category_name">Name</label><br/>
<%= text_field 'option_category', 'name'  %></p>

<p><label for="option_category_description">Description</label><br/>
<%= text_field 'option_category', 'description'  %></p>

<p><label for="option_category_order">Display Order</label><br/>
<%= text_field 'option_category', 'display_order'  %></p>
<!--[eoform:option_category]-->

