<h1>New option_category</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_get('BUTTON_ADD') %>
<% end %>

<%= link_to trn_get('BUTTON_BACK'), :action => 'list' %>
