<h1>Editing option_category</h1>

<% form_tag :action => 'update', :id => @option_category do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @option_category %> |
<%= link_to 'Back', :action => 'list' %>
