<% for column in OptionCategory.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @option_category.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @option_category %> |
<%= link_to 'Back', :action => 'list' %>
