<h2><%= trn_get('TITLE_DBT_EDIT') %></h2>

<% form_tag :action => 'update', :id => @dbt do %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), :action => 'list' %>
