<%= error_messages_for "dbtf" %>

<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_TABLE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field "dbtf", "table", :size => 50 %></td>
  </tr>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_FIELD') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field "dbtf", "field", :size => 50 %></td>
  </tr>
</table>
