<%= error_messages_for 'size' %>
<%= hidden_field "size", "standard_product_id" %>
<p>Standard products have a description and a fixed price.<br /> Enter them below:</p>
<p>Enter a brief description for this product:<br />
   <%= text_area "size", "description", "rows" => 5, "cols" => 50 %>
 </p>
<p>Price :
  <%= text_field "size", "price", "size" => 10 %>
</p>

