<h2><%= trn_get('USERS_LIST_TITLE')%></h2>
<table cellpadding='5'>
  <tr>
    <th><%= trn_geth('USERNAME_LABEL') %></th>
    <th><%= trn_geth('EMAIL_LABEL') %></th>
    <th><%= trn_geth('ENABLED_LABEL') %></th>
    <th><%= trn_geth('ROLES_LABEL') %></th>
  </tr>
    <%= render :partial => 'user', :collection => @users %>
</table>

