<div >
	<h2>New Quotation Created</h2>
	<p>
		<%= @admin_user.login %>, <br />
		<%= @quotation.user.login -%> has created a new quotation for <%= @quotation.customer_name -%>
	</p>
	
	<%= render :template => "quotation/show.rhtml" %>
</div>