<h1><%= trn_geth('TITLE_CUSTOMER_LIST') %></h1>

<%= turbo_frame_tag :customer_search, src: search_customers_path %>

<br />

<%= link_to trn_get('LABEL_CUSTOMER_CREATE'), :action => 'new' %>

<% content_for :extra_javascript do %>
  // :update => "results"
<% end %>
