<h2><%= trn_geth('TITLE_QUOTATION_SHOW') %></h2>

<%= render :partial => 'show' %>

<% if current_user.has_role?('administrator') %>
<div id='price-override-dialog' title='<%= trn_geth('Override Price') %>' >
  <form>
    <fieldset>
      <legend> Current Pricing </legend>

      <table class="ui-widget-content ui-corner-all" style="width: 100%;background-color: #ffffff;text-align: right;">
        <tbody>
        <tr>
          <td>Commission</td>
          <td id="markup"> </td>
          <td>Discount</td>
          <td id="discount"> </td>
        </tr>
        <tr style='background-color: #ffffff;'>
          <td>Current Price</td>
          <td id="full-price"> </td>
          <td>Original Price</td>
          <td id="original-price"> </td>
        </tr>
        <tr style='background-color: #ffffff;'>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr style='border-top:1px solid #cccccc;background-color: #ffffff;'>
          <td>New Price</td>
          <td><input type="text" name="current-price" id="current-price" class="text ui-widget-content ui-corner-all" style="width: 100%;text-align: right;"/></td>
          <td>w/Disc. &amp;Comm.</td>
          <td id='computed-price'></td>
        </tr>
        </tbody>
      </table>

    </fieldset>
    <input type='hidden' id='line-id' />
  </form>
</div>

  <% content_for :extra_javascript do %>
    $('#price-override-dialog').dialog({
        autoOpen: false,
        height: 300,
        width: 650,
        modal: true,
        buttons: {
            "Update": {
                    text: 'Update',
                    id: 'update-button',
                    click: function() {
                    $.ajax({
                    url: "<%= url_for(:controller => 'quotation_line', :action => 'update_line_price')%>/" +$('#line-id').val(),
                    method: 'POST',
                    dataType: 'script',
                    data: { current_price : $('#current-price').val()}
                    }).done(function (data) {
                        eval(data);
                    });

                    $(this).dialog( "close" );
                }
            },
        Cancel: function() {
            $( this ).dialog( "close" );
          }
        },
       close: function() {
//            allFields.val( "" ).removeClass( "ui-state-error" );
       }
     });

    $(document).on('keyup', '#current-price', function (){
        var currentPrice = $('#current-price').val();
        if (jQuery.isNumeric(currentPrice))
        {
            var markup = parseFloat($('#markup').html());
            var discount = parseFloat($('#discount').html());
            var price = parseFloat(currentPrice);
            var computedPrice = price * (1.0 - discount / 100) * (1.0 + markup / 100);
            $('#computed-price').html(computedPrice.toMoney());
            $('#update-button').button('option', 'disabled', false);
        }
        else
        {
            $('#computed-price').html('');
            $('#update-button').button('option', 'disabled', true);
        }
    });

    $(document).on('click', '.price-override-handle', function() {
        var quotation_line_id = $(this).data('line-id');
        var full_price = $(this).data('full-price');
        var markup = $(this).data('markup');
        var discount = $(this).data('discount');
        var current_price = $(this).data('current-price');
        var original_price = $(this).data('original-price');
        var label = $(this).data('label');

        var caption = "Override Price";
        if (label)
            caption = caption + " for " + label;

        $('#markup').html(markup);
        $('#discount').html(parseFloat(discount).toMoney());

        if (original_price)
            $('#original-price').html(parseFloat(original_price).toMoney());
        else
            $('#original-price').html(parseFloat(current_price).toMoney());

        $('#full-price').html(parseFloat(full_price).toMoney());
        $('#current-price').val(current_price);
        $('#line-id').val(quotation_line_id);

        $('#price-override-dialog').dialog('option', 'title', caption);
        $('#price-override-dialog').dialog("open");
    });

  <% end  %>
<% end %> <!-- admin check -->