<h2><%= trn_get('TITLE_QUOTATION_LINE_ADD') %></h2>

<% form_tag :action => 'add2' do %>
  <%= hidden_field 'quotation_line', 'quotation_id' %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_geth('BUTTON_NEXT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_QUOTATION'), :controller => 'quotation', :action => 'show', :id => @quotation_line.quotation_id %>
