<tr class="<%= cycle('odd', 'even') %>">
  <td><%= h standard_size.description %></td>
  <td><%= standard_size.price %></td>
  <td><%= link_to trn_geth('BUTTON_EDIT'), :controller => 'standard_size', :action => 'edit', :standard_product_id => @serie, :id => standard_size, :series_name => @serie.name %>
 | <%= link_to trn_geth('BUTTON_DELETE'), :controller => 'standard_size', :action => 'delete', :standard_product_id => @serie, :id => standard_size, :series_name => @serie.name %>
  </td>
</tr>

