<tr>
  <td colspan="5" style="border:1px solid #808080;" valign="top">
    <p>
      <strong><%= trn_geth('PRINT_LABEL_COMMENTS') %></strong><br />
      <%= @quotation.comments.gsub("\n", '<br/>').html_safe %>
    </p>
  </td>
</tr>